body {
  font-family: "Roboto", sans-serif;
  color: #8d96bd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #3d4f9f;
}

h1,
h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
}

.ta-center {
  text-align: center;
}

.btn-group {
  display: inline-flex;
}
.btn-group .btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group .btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn {
  margin: 0;
  padding: 12px 16px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
  box-sizing: border-box;
  background: none;
}
.btn--primary {
  color: #3a79ff;
  background-color: #d2e1ff;
}
.btn--primary:hover {
  background-color: #b9d0ff;
}
.btn--secondary {
  color: #fff;
  background-color: #4c85ff;
}
.btn--secondary:hover {
  background-color: #1962ff;
}
.btn--no-bg {
  color: #adb4d2;
  border: 1px solid #d1d1e4;
}
.btn--no-bg:hover {
  color: #8c96c0;
  border: 1px solid #b1b1d1;
}
.btn--danger {
  color: #d43f3f;
  background-color: #ffd7d7;
}
.btn--danger:hover {
  background-color: #ffbebe;
}

.section-outer {
  border-bottom: 1px solid #d8e3fe;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-inner--wide {
  max-width: 1200px;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dots__item {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  transition: 0.2s;
  cursor: pointer;
  background-color: #d1d6e3;
}
.dots__item + .dots__item {
  margin-left: 12px;
}
.dots__item:hover {
  background-color: #5283ff;
}
.dots__item--active {
  background-color: #5283ff;
}

.section-header .section-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  text-decoration: none;
  background-color: #5e81fe;
}

.nav {
  margin-left: 72px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 40px;
}
.nav-wrapper__item-link {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  transition: 0.2s;
  text-decoration: none;
  color: #697ca6;
}
.nav-wrapper__item-link--active {
  font-weight: 700;
  color: #5e81fe;
}
.nav-wrapper__item-link:hover {
  font-weight: 700;
  color: #5e81fe;
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.socials-wrapper__item + .socials-wrapper__item {
  margin-left: 40px;
}
.socials-wrapper__item-link path {
  transition: 0.2s;
  fill: #b6bac7;
}
.socials-wrapper__item-link:hover path {
  fill: #6188ff;
}

.btn-wrapper {
  margin-left: 44px;
}

.section-hero-image {
  background: linear-gradient(#f4f7ff, #f1f5ff);
  position: relative;
}
.section-hero-image .dots {
  position: absolute;
  left: 50%;
  bottom: 28px;
  transform: translateX(-50%);
}

.slider-hero-image {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-hero-image__item {
  height: 560px;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-hero-image__item-content h5 {
  margin-bottom: 16px;
}
.slider-hero-image__item-content h2 {
  margin-bottom: 28px;
  font-weight: 300;
}
.slider-hero-image__item-content h2 span {
  font-weight: 500;
}
.slider-hero-image__item-content .text {
  max-width: 60%;
  margin: 0 auto 20px;
  line-height: 2;
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
  background-color: #fff;
}
.icon-play svg {
  width: 12px;
  height: 12px;
}

.section-customers .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customers-list__item {
  transition: 0.2s;
  cursor: pointer;
  opacity: 0.3;
}
.customers-list__item:hover {
  opacity: 1;
}

.section-plan-and-manage {
  position: relative;
  background: #f5f8ff;
  overflow: hidden;
}
.section-plan-and-manage__content {
  width: 50%;
}
.section-plan-and-manage__content-image {
  position: absolute;
  top: 0;
  left: 50%;
}
.section-plan-and-manage__content h5 {
  margin-bottom: 28px;
}
.section-plan-and-manage__content h3 {
  margin-bottom: 28px;
  font-weight: 500;
}
.section-plan-and-manage__content h3 span {
  font-weight: 400;
}
.section-plan-and-manage__content .text {
  margin-bottom: 48px;
  line-height: 2;
}
.section-plan-and-manage__content .btn-group svg {
  margin-left: 4px;
}

.section-features {
  background: url("../img/features-clouds.svg") no-repeat 50% 50%;
}
.section-features .btns {
  display: flex;
  justify-content: center;
}
.section-features h5 {
  margin-bottom: 20px;
}
.section-features h4 {
  margin-bottom: 92px;
  font-weight: 500;
}

.feature-list {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 100px;
}
.feature-list__item {
  position: relative;
  flex-basis: 25%;
}
.feature-list__item:not(:first-child) {
  margin-left: 40px;
}
.feature-list__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 120px;
  left: -34px;
  width: 28px;
  height: 1px;
  background-color: #dae4fe;
}
.feature-list__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  margin: 0 auto 32px;
  border-radius: 100%;
  background-color: #f1f5ff;
}
.feature-list__item-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 15px;
  color: #4074f8;
}
.feature-list__item-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
}

.or-block {
  display: inline-flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 500;
  color: #adb3cb;
}
.or-block::before {
  display: block;
  margin-right: 16px;
  content: "";
  width: 16px;
  height: 1px;
  background-color: #dae4fe;
}
.or-block::after {
  display: block;
  margin-left: 16px;
  content: "";
  width: 16px;
  height: 1px;
  background-color: #dae4fe;
}

.section-stats {
  display: flex;
}
.section-stats__left, .section-stats__right {
  display: flex;
  flex-direction: column;
  padding: 64px 88px;
  flex-basis: 50%;
}
.section-stats__left {
  align-items: flex-end;
  color: #fff;
  background: linear-gradient(#6888ff, #5e80ff);
}
.section-stats__left-icon {
  margin-bottom: 24px;
}
.section-stats__left-number {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 28px;
  font-size: 48px;
  color: #fff;
}
.section-stats__left-text {
  font-family: "Quicksand", sans-serif;
  text-align: right;
  width: 50%;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
}
.section-stats__right {
  align-items: flex-start;
  color: #5e80ff;
  background: linear-gradient(#e9efff, #e0e9ff);
}
.section-stats__right-icon {
  margin-bottom: 24px;
}
.section-stats__right-number {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 28px;
  font-size: 48px;
  color: #5e80ff;
}
.section-stats__right-text {
  font-family: "Quicksand", sans-serif;
  width: 50%;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
}

.section-blog {
  background: #f5f8ff;
}
.section-blog h5 {
  margin-bottom: 20px;
}
.section-blog h4 {
  margin-bottom: 92px;
  font-weight: 500;
}

.slider-wrapper {
  position: relative;
  margin-bottom: 100px;
}

.slider-blog {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #d8e3fe;
  box-shadow: 0px 15px 50px #eff4ff;
  background-color: #fff;
}
.slider-blog__item {
  display: flex;
  padding: 64px 32px;
}
.slider-blog__item-gallery, .slider-blog__item-content {
  flex-basis: 45%;
}
.slider-blog__item-gallery {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}
.slider-blog__item-gallery .image-link {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 15px 100px #e5ebf8;
  background-color: #fff;
  border-radius: 5px;
}
.slider-blog__item-gallery .image-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-blog__item-gallery .image-link .loupe {
  display: block;
  opacity: 0;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background: #fff url("../img/loupe.svg") no-repeat 50% 50%;
}
.slider-blog__item-gallery .image-link:hover .loupe {
  opacity: 1;
}
.slider-blog__item-gallery .image-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.slider-blog__item-gallery .image-link--big {
  grid-area: 1/1/3/2;
}
.slider-blog__item-gallery .image-link--big::before {
  background: linear-gradient(transparent, #ffc735);
}
.slider-blog__item-gallery .image-link--sm-1 {
  grid-area: 1/2/2/3;
}
.slider-blog__item-gallery .image-link--sm-1::before {
  background: linear-gradient(transparent, rgba(255, 53, 53, 0.48));
}
.slider-blog__item-gallery .image-link--sm-2 {
  grid-area: 2/2/3/3;
}
.slider-blog__item-gallery .image-link--sm-2::before {
  background: linear-gradient(transparent, rgba(53, 170, 255, 0.68));
}
.slider-blog__item-content {
  margin-left: 10%;
}
.slider-blog__item-content h3 {
  margin-bottom: 32px;
}
.slider-blog__item-content .text {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 2;
}

.slider-btn {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url("../img/arrow-slider.svg") no-repeat 50% 50%;
}
.slider-btn--prev {
  margin-right: 72px;
  right: 100%;
  transform: translateY(-50%);
}
.slider-btn--next {
  margin-left: 72px;
  left: 100%;
  transform: translateY(-50%) rotate(180deg);
}

.section-quotes {
  background: linear-gradient(#eaf0ff, #f6f9ff);
}
.section-quotes .section-inner {
  display: flex;
  justify-content: space-between;
}
.section-quotes__left, .section-quotes__right {
  flex-basis: 45%;
}
.section-quotes__left h5 {
  margin-bottom: 32px;
  font-weight: 500;
}
.section-quotes__left h3 {
  margin-bottom: 16px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
}
.section-quotes__left .text {
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
}

.slider-quotes {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}
.slider-quotes__item {
  padding: 48px 72px;
  border: 1px solid #d8e3fe;
  position: relative;
  box-shadow: 0px 5px 50px #f3f5fa;
  background-color: #fff;
}
.slider-quotes__item-text {
  font-size: 15px;
  line-height: 2;
  color: #676f95;
}
.slider-quotes__item-photo {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  border-radius: 100%;
  overflow: hidden;
  background-color: grey;
}

.section-get-started {
  background: linear-gradient(#6888ff, #5e80ff);
}

.section-newsletter {
  background: #fcfdff;
}

.section-footer {
  border-bottom: 0;
}
.section-footer .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.copyright {
  font-family: "Quicksand", sans-serif;
  margin-top: 28px;
  margin-left: 96px;
  font-size: 12px;
  font-weight: 500;
  color: #aeb8d0;
}