body {
  font-family: "Roboto", sans-serif;
  color: #8d96bd;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #3d4f9f;
}

h2 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 0.625rem;
  text-transform: uppercase;
}

h3 {
  font-size: 36px;
}

.ta-center {
  text-align: center;
}

.section-subtitle {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1.75rem;
  font-size: 3rem;
  color: #3d4f9f;
}

.btn-group {
  display: inline-flex;
}
.btn-group .btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group .btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input {
  font-family: "Quicksand", sans-serif;
  border: 1px solid transparent;
  border-radius: 0.125rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: #7a85ad;
  background-color: #efeff7;
}
.input--size-lg {
  padding: 1.25rem 1.5rem;
  border-radius: 0.25rem;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  border: 1px solid transparent;
  border-radius: 0.125rem;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  background: none;
}
.btn--size-lg {
  padding: 1.25rem 3.75rem;
  border-radius: 0.25rem;
}
.btn--primary {
  color: #3a79ff;
  background-color: #dae4fe;
}
.btn--primary:hover {
  background-color: #c1d2fd;
}
.btn--primary-inverted {
  color: #565f82;
  background-color: #fff;
}
.btn--primary-inverted:hover {
  background-color: #f2f2f2;
}
.btn--secondary {
  color: #fff;
  background-color: #6188ff;
}
.btn--secondary:hover {
  background-color: #2e62ff;
}
.btn--no-bg {
  color: #c9d1e7;
  border: 1px solid #c9d1e7;
}
.btn--no-bg:hover {
  color: #a6b3d7;
  border: 1px solid #a6b3d7;
}
.btn--no-bg-inverted {
  color: #c7d3ff;
}
.btn--no-bg-inverted:hover {
  color: #fafbff;
  border-color: #4875ff;
}
.btn--danger {
  color: #d43f3f;
  background-color: #ffd7d7;
}
.btn--danger:hover {
  background-color: #ffbebe;
}
.btn--grayscale {
  color: #676f95;
  background: #e8ecf4;
}
.btn--grayscale:hover {
  background-color: #d7deec;
}

.section-outer {
  padding: 0 20px;
  border-bottom: 1px solid #d8e3fe;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
.section-inner--wide {
  max-width: 1200px;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dots__item {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  transition: 0.2s;
  cursor: pointer;
  background-color: #b6bac7;
}
.dots__item + .dots__item {
  margin-left: 0.75rem;
}
.dots__item:hover {
  background-color: #6188ff;
}
.dots__item--active {
  background-color: #6188ff;
}

.section-header {
  position: relative;
}
.section-header .section-inner {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.main-navigation {
  display: flex;
  align-items: center;
}
.main-navigation__inner-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 4.5rem;
}
@media (max-width: 991px) {
  .section-header .main-navigation__inner-wrapper {
    display: none;
    margin-left: 0;
    padding: 0 0.25rem;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
  }
}
@media (max-width: 991px) {
  .main-navigation__inner-wrapper {
    flex-direction: column;
    margin-bottom: 1.25rem;
    margin-left: 0;
  }
  .main-navigation__inner-wrapper .nav {
    margin-bottom: 1.25rem;
  }
  .main-navigation__inner-wrapper .socials {
    margin-bottom: 1.25rem;
    margin-left: 0;
  }
  .main-navigation__inner-wrapper .btn-wrapper {
    margin-bottom: 1.25rem;
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .section-footer .main-navigation {
    flex-direction: column;
  }
  .section-footer .main-navigation .logo {
    margin-bottom: 1.25rem;
  }
}

.btn-burger {
  display: none;
  margin-left: auto;
}
.btn-burger__line {
  display: block;
  width: 1.25rem;
  height: 0.125rem;
  background-color: #c9d1e7;
}
.btn-burger__line + .btn-burger__line {
  margin-top: 0.25rem;
}
@media (max-width: 991px) {
  .btn-burger {
    display: block;
  }
}

.logo__link {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: #6188ff;
  text-decoration: none;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 2.5rem;
}
.nav-wrapper__item-link {
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.2s;
  text-decoration: none;
  color: #676f95;
}
.nav-wrapper__item-link--active {
  font-weight: 700;
  color: #6188ff;
}
.nav-wrapper__item-link:hover {
  font-weight: 700;
  color: #6188ff;
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.socials-wrapper__item + .socials-wrapper__item {
  margin-left: 2.5rem;
}
.socials-wrapper__item-link path {
  transition: 0.2s;
  fill: #b6bac7;
}
.socials-wrapper__item-link:hover path {
  fill: #6188ff;
}

.btn-wrapper {
  margin-left: 2.75rem;
}

.section-hero-image {
  padding: 0;
  position: relative;
  background: linear-gradient(#f4f7ff, #f1f5ff);
}
.section-hero-image .dots {
  position: absolute;
  left: 50%;
  bottom: 1.75rem;
  transform: translateX(-50%);
}

.slider-hero-image {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-hero-image__item {
  height: 35rem;
  text-align: center;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-hero-image__item-content .section-subtitle {
  font-weight: 300;
}
.slider-hero-image__item-content .section-subtitle span {
  font-weight: 500;
}
.slider-hero-image__item-content .text {
  max-width: 60%;
  margin: 0 auto 1.25rem;
  font-size: 0.9375rem;
  line-height: 2;
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 100%;
  box-shadow: 0px 0.5rem 3rem #c9d1e7 0.6;
  background-color: #fff;
}
.icon-play svg {
  width: 0.75rem;
  height: 0.75rem;
}

.section-customers .section-inner {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.customers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customers-list__item {
  transition: 0.2s;
  cursor: pointer;
  opacity: 0.3;
}
.customers-list__item:hover {
  opacity: 1;
}

.section-plan-and-manage {
  position: relative;
  background: #e9efff;
  overflow: hidden;
}
.section-plan-and-manage__content {
  width: 60%;
}
.section-plan-and-manage__content-image {
  position: absolute;
  top: 0;
  left: 50%;
}
.section-plan-and-manage__content .section-subtitle {
  margin-bottom: 1.75rem;
  font-weight: 500;
  font-size: 2.25rem;
}
.section-plan-and-manage__content .section-subtitle span {
  font-weight: 400;
}
.section-plan-and-manage__content .text {
  margin-bottom: 3rem;
  font-size: 0.9375rem;
  line-height: 2;
}
.section-plan-and-manage__content .btn-group svg {
  margin-left: 0.25rem;
}
@media (min-width: 1199px) {
  .section-plan-and-manage__content {
    width: 50%;
  }
}

.section-features {
  background: url("../img/features-clouds.svg") no-repeat 50% 50%;
}
.section-features .btns {
  display: flex;
  justify-content: center;
}
.section-features .section-subtitle {
  margin-bottom: 5.75rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.feature-list {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 6.25rem;
}
.feature-list__item {
  position: relative;
  flex-basis: 25%;
}
.feature-list__item:not(:first-child) {
  margin-left: 2.5rem;
}
.feature-list__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 7.5rem;
  left: -2.125rem;
  width: 1.75rem;
  height: 1px;
  background-color: #dae4fe;
}
.feature-list__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.25rem;
  height: 4.25rem;
  margin: 0 auto 2rem;
  border-radius: 100%;
  background-color: #e9efff;
}
.feature-list__item-title {
  margin-bottom: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.9375rem;
  color: #3a79ff;
}
.feature-list__item-text {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 2;
}

.or-block {
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #adb4d2;
}
.or-block::before {
  display: block;
  margin-right: 1rem;
  content: "";
  width: 1rem;
  height: 1px;
  background-color: #dae4fe;
}
.or-block::after {
  display: block;
  margin-left: 1rem;
  content: "";
  width: 1rem;
  height: 1px;
  background-color: #dae4fe;
}

.section-stats {
  display: flex;
  padding: 0;
}
.section-stats__left, .section-stats__right {
  display: flex;
  flex-direction: column;
  padding: 4rem 5.5rem;
  flex-basis: 50%;
}
.section-stats__left {
  align-items: flex-end;
  color: #fff;
  background: linear-gradient(#6888ff, #3a79ff);
}
.section-stats__left-icon {
  margin-bottom: 1.5rem;
}
.section-stats__left-number {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1.75rem;
  font-size: 3rem;
  color: #fff;
}
.section-stats__left-text {
  font-family: "Quicksand", sans-serif;
  text-align: right;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2;
}
@media (min-width: 992px) {
  .section-stats__left-text {
    width: 50%;
  }
}
.section-stats__right {
  align-items: flex-start;
  color: #3a79ff;
  background: linear-gradient(#e9efff, #e0e9ff);
}
.section-stats__right-icon {
  margin-bottom: 1.5rem;
}
.section-stats__right-number {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1.75rem;
  font-size: 3rem;
  color: #3a79ff;
}
.section-stats__right-text {
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2;
}
@media (min-width: 992px) {
  .section-stats__right-text {
    width: 50%;
  }
}

.section-blog {
  background: #f5f8ff;
}
.section-blog .section-subtitle {
  margin-bottom: 5.75rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.slider-wrapper {
  position: relative;
  margin-bottom: 6.25rem;
}

.slider-blog {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #c7d3ff;
  box-shadow: 0px 15px 50px #e9efff;
  background-color: #fff;
}
.slider-blog__item {
  display: flex;
  padding: 4rem 2rem;
}
.slider-blog__item-gallery {
  display: grid;
  grid-template-rows: repeat(2, 7.5rem);
  grid-template-columns: repeat(3, 7.5rem);
  grid-gap: 1rem;
}
@media (max-width: 991px) {
  .slider-blog__item-gallery {
    grid-template-rows: repeat(2, 6.25rem);
    grid-template-columns: repeat(3, 6.25rem);
    grid-gap: 0.5rem;
  }
}
.slider-blog__item-gallery .image-link {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0.25rem;
}
.slider-blog__item-gallery .image-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-blog__item-gallery .image-link::after {
  display: block;
  content: "";
  opacity: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background: #fff url("../img/loupe.svg") no-repeat 50% 50%;
}
.slider-blog__item-gallery .image-link:hover::after {
  opacity: 1;
}
.slider-blog__item-gallery .image-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.slider-blog__item-gallery .image-link--big {
  grid-row: 1/3;
  grid-column: 1/3;
}
.slider-blog__item-gallery .image-link--big::before {
  background: linear-gradient(transparent, #ffc735);
}
.slider-blog__item-gallery .image-link--sm-1 {
  grid-row: 1/2;
  grid-column: 3/3;
}
.slider-blog__item-gallery .image-link--sm-1::before {
  background: linear-gradient(transparent, rgba(255, 53, 53, 0.48));
}
.slider-blog__item-gallery .image-link--sm-2 {
  grid-row: 2/2;
  grid-column: 3/3;
}
.slider-blog__item-gallery .image-link--sm-2::before {
  background: linear-gradient(transparent, rgba(53, 170, 255, 0.68));
}
.slider-blog__item-content {
  flex-grow: 1;
  margin-left: 1.25rem;
}
.slider-blog__item-content h3 {
  margin-bottom: 2rem;
}
.slider-blog__item-content .text {
  margin-bottom: 2.5rem;
  font-size: 0.9375rem;
  line-height: 2;
}

.slider-btn {
  position: absolute;
  top: 50%;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background: url("../img/arrow-slider.svg") no-repeat 50% 50%;
}
.slider-btn--prev {
  margin-right: 4.5rem;
  right: 100%;
  transform: translateY(-50%);
}
.slider-btn--next {
  margin-left: 4.5rem;
  left: 100%;
  transform: translateY(-50%) rotate(180deg);
}
@media (max-width: 1199px) {
  .slider-btn {
    display: none;
  }
}

.section-quotes {
  background: linear-gradient(#eaf0ff, #f6f9ff);
}
.section-quotes .section-inner {
  display: flex;
  justify-content: space-between;
}
.section-quotes__left, .section-quotes__right {
  flex-basis: 45%;
}
.section-quotes__left h2 {
  margin-bottom: 2rem;
  font-weight: 500;
}
.section-quotes__left .section-subtitle {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 2.25rem;
  font-family: "Quicksand", sans-serif;
}
.section-quotes__left .text {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 2;
}

.slider-quotes {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 5rem;
}
.slider-quotes__item {
  padding: 3rem 4.5rem;
  border: 1px solid #d8e3fe;
  position: relative;
  box-shadow: 0px 5px 50px #f3f5fa;
  background-color: #fff;
}
.slider-quotes__item-text {
  font-size: 0.9375rem;
  line-height: 2;
  color: #676f95;
}
.slider-quotes__item-photo {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -2rem);
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  overflow: hidden;
  background-color: grey;
}

.section-faq .section-inner .section-subtitle {
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.faq-accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}
.faq-accordion__item {
  border-bottom: 1px solid #d8e3fe;
}
.faq-accordion__item--active .arrow {
  stroke: #495274;
}
.faq-accordion__item--active .faq-accordion__item-trigger-icon {
  transform: rotate(180deg);
}
.faq-accordion__item--active .faq-accordion__item-trigger-title {
  color: #495274;
  font-size: 0.9375rem;
  font-weight: 700;
}
.faq-accordion__item--active .faq-accordion__item-content {
  display: flex;
}
.faq-accordion__item-trigger {
  font-family: "Quicksand", sans-serif;
  display: flex;
  padding: 1rem;
  cursor: pointer;
}
.faq-accordion__item-trigger-icon {
  margin-right: 1.5rem;
  transform: rotate(0);
}
.faq-accordion__item-trigger-title {
  font-size: 0.9375rem;
}
.faq-accordion__item-content {
  display: none;
  padding: 0 1rem 1rem 3.5rem;
}
.faq-accordion__item-content-text {
  flex-grow: 1;
  font-size: 0.9375rem;
  line-height: 2;
}
.faq-accordion__item-content-btn {
  margin-left: 4rem;
}

.section-get-started {
  position: relative;
  text-align: center;
  color: #fff;
  background: linear-gradient(#6888ff, #5e80ff);
}
.section-get-started::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: url("../img/clouds-get-started.svg") no-repeat 50% 50%;
}
.section-get-started .section-inner {
  position: relative;
  z-index: 10;
}
.section-get-started .section-inner h2,
.section-get-started .section-inner .section-subtitle {
  color: #fff;
}
.section-get-started .section-inner .section-subtitle {
  font-weight: 300;
  font-size: 3rem;
}
.section-get-started .section-inner .section-subtitle span {
  font-weight: 500;
}
.section-get-started .section-inner .text {
  margin: 0 auto 2.5rem;
  max-width: 60%;
  font-size: 0.9375rem;
  line-height: 2;
}

.section-newsletter {
  background: #fcfdff;
}
.section-newsletter .section-inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .section-newsletter .section-inner {
    flex-direction: column;
  }
}
.section-newsletter__left {
  flex-basis: 35%;
}
.section-newsletter__left-title {
  margin-bottom: 1.25rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #3d4f9f;
  text-transform: none;
}
.section-newsletter__left-text {
  font-size: 0.9375rem;
  line-height: 2;
}
@media (max-width: 991px) {
  .section-newsletter__left {
    margin-bottom: 1.25rem;
  }
}
.section-newsletter__right {
  flex-basis: 55%;
}

.form-newsletter {
  display: flex;
}
.form-newsletter__input {
  flex-grow: 1;
}
.form-newsletter__btn {
  margin-left: 0.75rem;
}

.section-footer {
  border-bottom: 0;
}
.section-footer .section-inner {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.copyright {
  font-family: "Quicksand", sans-serif;
  margin-top: 1.75rem;
  margin-left: 6rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #adb4d2;
}
@media (max-width: 991px) {
  .copyright {
    margin-left: 0;
    text-align: center;
  }
}