// === Mixins ===
@mixin roboto() {
  font-family: "Roboto", sans-serif;
}

@mixin quicksand() {
  font-family: "Quicksand", sans-serif;
}

@mixin list-none() {
  margin: 0;
  padding: 0;
  list-style: none;
}

// === / Mixins ===

// === Variables ===
$base: 4px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$fs-sm: 12px;
$fs-md: 15px;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$color-divider: #d8e3fe;

$transition: 0.2s;
// === / Variables ===

// === Common ===
body {
  @include roboto();
}

.btn {
  margin: 0;
  padding: $base * 3 $base * 4;
  @include quicksand();
  font-weight: $fw-bold;
  font-size: $fs-sm;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  transition: $transition;
  cursor: pointer;
  background-color: none;

  &--primary {
    color: #3a79ff;
    background-color: #d2e1ff;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1200px;
  }
}

// === / Common ===

// === Header ===
.section-header {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: $base * 6;
  height: $base * 6;
  border-radius: 100%;
  text-decoration: none;
  background-color: #5e81fe;
}

.nav {
  margin-left: $base * 18;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  @include list-none();
  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      @include quicksand();
      font-size: $fs-sm;
      font-weight: $fw-medium;
      transition: $transition;
      text-decoration: none;
      color: #697ca6;

      &--active {
        font-weight: $fw-bold;
        color: #5e81fe;
      }

      &:hover {
        font-weight: $fw-bold;
        color: #5e81fe;
      }
    }
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  display: flex;
  align-items: center;
  @include list-none();

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      path {
        transition: $transition;
        fill: #b6bac7;
      }

      &:hover {
        path {
          fill: #6188ff;
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base * 11;
}
// === / Header ===

// === Hero-image ===
.section-hero-image {
  background: linear-gradient(#f4f7ff, #f1f5ff);
}
// === / Hero-image ===

// === Customers ===
.section-customers {
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}
// === / Customers ===

// === Plan-and-manage ===
.section-plan-and-manage {
  background: #f5f8ff;
}
// === / Plan-and-manage ===

// === Features ===
.section-features {
}
// === / Features ===

// === Stats ===
.section-stats {
}
// === / Stats ===

// === Blog ===
.section-blog {
  background: #f5f8ff;
}
// === / Blog ===

// === Quotes ===
.section-quotes {
  background: linear-gradient(#eaf0ff, #f6f9ff);
}
// === / Quotes ===

// === Faq ===
.section-faq {
}
// === / Faq ===

// === Get-started ===
.section-get-started {
  background: linear-gradient(#6888ff, #5e80ff);
}
// === / Get-started ===

// === Newsletter ===
.section-newsletter {
  background: #fcfdff;
}
// === / Newsletter ===

// === Footer ===
.section-footer {
  border-bottom: 0;

  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}

.copyright {
  @include quicksand();
  margin-top: $base * 7;
  margin-left: $base * 24;
  font-size: $fs-sm;
  font-weight: $fw-medium;
  color: #aeb8d0;
}
// === / Footer ===
